* {
    box-sizing: border-box;
}

body {
    background-color: #79C8CC;
}
.container {
    background-color: white;
    border-radius: 15px;
    border: 5px solid #80858B;
    max-width: 40%;
    height: 600px;
    margin: 100px auto;
}

.header {
    background-color: #DBD9DC;
    width: 100%;
    height: 10%;
    border-radius: 11px 11px 0 0;
    display: flex;
    flex-flow: row wrap;
    padding: 10px 10px 0 10px;
}

.radio {
    flex-basis: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
}

.naranja {
    background-color: #FF6F53;
}

.amarillo {
    background-color: #FBC026;
}

.verde {
    background-color: #00B239;
}

.morado {
    background-color: #A61A7B;
    height: 50%;
}

.azul {
    background-color: #006C93;
}

.main {
    width: 100%;
    height: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first-row, .second-row, .third-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.first-row {
    height: 20%;
    width: 100%;
}

.second-row {
    height: 60%;
    width: 100%;
}

.third-row {
    height: 20%;
    width: 100%;
    padding-bottom: 10px;
}

.contenido-1 {
    margin-right: 10px;
    flex-grow: 3;
}

.contenido-2 {
    flex-grow: 1;
   
}

.contenido-3 {
    flex-grow: 2;
    margin-right: 10px;
}

.morado-contenedor {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.contenido-4 {
    flex-grow: 1;
}

.contenido-5 {
    margin-top: 10px;
    flex-grow: 1;
}

.contenido-6 {
    flex-grow: 1;
    margin-right: 10px;
}

.contenido-7 {
    flex-grow: 2;
    margin-right: 10px;
}

.contenido-8 {
    flex-grow: 1;
}